<!-- /Banner -->

{{ with .Params.hero }}
<section class="section bg-cover bg-center bg-no-repeat bg-fixed video-background">
  <video autoplay muted loop playsinline class="video-bg">
    <source src="videos/intro.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  {{ partial "video.html" (dict "Src" "videos/intro.mp4" "Autoplay" "true" "Loop" "true" "Controls" "false" "Class" "ght-video") }}

  <style>
    .video-background {
      position: relative;
      overflow: hidden;
    }

    .video-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  </style>
  <div class="container">
    <div class="row items-center justify-between">
      <div class="md:col-6 mb-6">
        {{ with .image }}
          {{ partial "image" (dict "Src" . "Alt" "Hero image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
        {{ end }}
      </div>
      <div class="md:col-5 lg:col-6">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
          {{ if .enable }}
            <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
              {{ .label }}
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}



<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 mb-8 text-center">
        <h1 class="mb-4 text-h3 lg:text-h1">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]"
        "DisplayXL" "800x" ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}


 <!-- /Features -->
 {{ range $i, $e:= .Params.features1 }}
 {{ if .backgroundImage }}
 <section rel="preload" fetchpriority="high" class="section-sm bg-image bg-cover bg-bottom bg-no-repeat bg-fixed"
   style="background-image: url({{ .backgroundImage | absURL }});">
   <div class="blurred">
     {{ else }}
     <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
       {{ end }}
       <div class="container">
         <div class="row items-center justify-between">
           <div class="mb:md-0 {{ if not (modBool $i 2) }}
             md:order-2
           {{ end }} md:col-5 mb-6">
             {{ if .image}}
             {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x"
             "DisplayMD" "360x") }}
             {{ end }}
           </div>
           <div class="{{ if not (modBool $i 2) }}
             md:order-1
           {{ end }} md:col-7 lg:col-6">
             <h2 class="mb-4">
               {{ .title | markdownify }}
             </h2>
             <p class="mb-8 text-lg">
               {{ .content | markdownify }}
             </p>
             <ul>
               {{ range .bulletpoints }}
               <li class="relative mb-4 pl-6">
                 {{/* <i class="fa fa-check absolute left-0 top-1.5"></i> */}}
                 {{ . | markdownify }}
               </li>
               {{ end }}
             </ul>
             {{ with .button }}
             {{ if .enable }}
             <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
               {{ .label }}
               <i class="fa fa-arrow-right pl-2"></i>
             </a>
             {{ end }}
             {{ end }}
             {{/* make a table to display a service schedule from a yaml file */}}
             {{ with .table }}
             <h3 class="mt-8 mb-4">
               {{ .title | markdownify }}
             </h3>
             <table class="table mt-6 schedule-table">
               <thead>
                 <tr>
                   {{ range .header }}
                   <th>{{ . }}</th>
                   {{ end }}
                 </tr>
               </thead>
               <tbody>
                 {{ range .rows }}
                 <tr>
                   {{ range .columns }}
                   <td>{{ . }}</td>
                   {{ end }}
                 </tr>
                 {{ end }}
               </tbody>
             </table>
             {{ end }}

           </div>
         </div>
       </div>
     </section>
     {{ if .backgroundImage }}
   </div>
   {{ end }}
   {{ end }}
   <!-- /Features -->
