{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section-sm" style="padding-top: 2em; padding-bottom: 2em;">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <p style="padding-bottom: 2em; font-size: 1.2em;">{{ i18n "addressCallsEmails" }}</p>
          
          <div class="mb-6">
            <h3>{{ i18n "telephone" }}</h3>
            <p>{{ .Params.telephone }}</p>
          </div>
          <div class="mb-6">
            <h3>{{ i18n "email" }}</h3>
            <p>{{ .Params.email }}</p>
          </div>
          <div class="mb-6">
            <h3>{{ i18n "address" }}</h3>
            <p>{{ .Params.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr>
  </div>

  <section class="section-sm" style="padding-top: 0em; ">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <div id="contact-form-header">
            <h2 class="mt-12">{{ i18n "contactFormTitle" }}</h2>
            <p style="font-size: 1.2em;">{{ i18n "contactFormExplanation" }}</p>
          </div>
          <div id="contact-form-container">
            <form id="contact-form" action="{{ site.Params.contact_form_action }}" method="POST" class="mt-6">
              <div class="mb-6">
                <label for="name" class="form-label">
                  {{ i18n "fullName" }} <span class="text-red-500">*</span>
                </label>
                <input
                  id="name"
                  name="name"
                  class="form-input"
                  placeholder="{{ i18n "fullNamePlaceholder" }}"
                  type="text" />
              </div>
              <div class="mb-6">
                <label for="email" class="form-label">
                  {{ i18n "workingMail" }} <span class="text-red-500">*</span>
                </label>
                <input
                  id="email"
                  name="email"
                  class="form-input"
                  placeholder="{{ i18n "workingMailPlaceholder" }}"
                  type="email" />
              </div>
              <div class="mb-6">
                <label for="message" class="form-label">
                  {{ i18n "anythingElse" }} <span class="text-red-500">*</span>
                </label>
                <textarea
                  id="message"
                  name="message"
                  class="form-input"
                  placeholder="{{ i18n "messagePlaceholder" }}"
                  rows="8"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">{{ i18n "submit" }}</button>
            </form>
          </div>
          <div id="success-message" style="display: none; min-height: 400px; display: none; align-items: center; justify-content: center;">
            <div>
              <h2>✅ {{ i18n "successMessageTitle" }}</h2>
              <p>{{ i18n "successMessage" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var form = document.getElementById("contact-form");
      form.addEventListener("submit", function(event) {
        event.preventDefault();
        setTimeout(function() {
          document.getElementById("contact-form-header").style.display = "none";
          document.getElementById("contact-form-container").style.display = "none";
          document.getElementById("success-message").style.display = "flex";
        }, 1000);
      });
    });
  </script>

  <!-- google map -->
  {{ with site.Params.google_map }}
    {{ if .enable }}
      <div
        id="map"
        style="height: 400px;"
        data-latitude="{{ .map_latitude }}"
        data-longitude="{{ .map_longitude }}"
        data-marker="{{ .map_marker | relURL }}"
        data-marker-name="{{ site.Title }}"></div>
    {{ end }}
  {{ end }}

  {{ with site.Params.subscription }}
    {{ if .enable }}
      <!-- subscription form -->
      <form
        action="{{ .mailchimp_form_action | safeURL }}"
        method="post"
        id="mc-embedded-subscribe-form"
        novalidate="novalidate">
        <div class="input-group w-75 mx-auto mb-3">
          <input
            type="email"
            name="EMAIL"
            placeholder="Email"
            class="form-control required email mce_inline_error"
            id="mce-EMAIL"
            aria-required="true"
            autocomplete="off"
            required />
          <button
            class="input-group-text"
            name="subscribe"
            id="mc-embedded-subscribe">
            {{ .button_label }}
          </button>
        </div>
        <input
          type="hidden"
          name="EMAILTYPE"
          id="mce-EMAILTYPE-0"
          value="html" />
        <div style="position:absolute;left:-5000px" aria-hidden="true">
          <input type="text" name="{{ .name }}" tabindex="-1" />
        </div>
      </form>
      <div id="mce-responses" class="clear">
        <div
          class="response text-white"
          id="mce-error-response"
          style="display:none"></div>
        <div
          class="response text-white"
          id="mce-success-response"
          style="display:none"></div>
      </div>
      <script
        type="text/javascript"
        src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
      <!-- /subscription form -->
    {{ end }}
  {{ end }}

  {{ if site.Params.google_map.enable }}
    {{ $gmap:= resources.Get "plugins/maps/google-map.js" }}
    <script defer src="{{ $gmap.RelPermalink }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.map_api_key }}&libraries=places"></script>
  {{ end }}

{{ end }}
