{{ define "main" }}

  <div class="container-info">
      <div class="inline-titles">
        <h2 class="h2 mb-6 emoji">{{ .Params.Emoji }}</h2>
        <h2 class="h3 mb-6">{{ .Title }}</h2>
      </div>
    <ol class="step-list">
      {{ range .Params.Blocks}}
        <li class="step-list__item">
            <div class="step-list__item__inner">
                <div class="content">
                    <div class="body">
                        {{/*  <div class="inline-titles">  */}}
                        {{/*  <h2 class="emoji">{{ .emoji }}</h2>  */}}
                        <h2>{{ .title }}</h2>
                        {{/*  </div>  */}}
                        <p>{{ .content }}</p>
                        {{ if .bulletpoints}}
                        <ul>
                            {{ range .bulletpoints }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                    {{if .emoji}}
                    <h2 class="emoji" style="font-size: 10em;">{{ .emoji }}</h2>
                    {{/*  <div class="icon">
                        <img src="{{ .icon | absURL }}" alt="Check" />
                    </div>            */}}
                    {{end}}      
                </div>
            </div>
        </li>
        {{ end }}
    </ol>
</div>
{{ end }}
