html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body text-base dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0 #{!important};
}

a {
  color: #EE5B25; // Change this to your desired color
  text-decoration: none;
  font-weight: bolder;

  &:hover {
    color: #bf471c; // Change this to your desired hover color
    text-decoration: underline;
    font-weight: bolder;
  }
}

.schedule-table {
  border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
  // border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.schedule-table th {
  // background-color: #f2f2f2;
  font-weight: bold;
}

.schedule-table td:first-child {
  font-weight: bold;
  font-size: 2rem; // Assuming 1.25rem is the equivalent of xl in your design system
}
.schedule-table td:nth-child(2) {
  // font-weight: bold;
  font-size: 2rem; // Assuming 1.25rem is the equivalent of xl in your design system
}

.schedule-table tr {
  
  border-bottom: 2px solid black;
}
// .schedule-table tr:nth-child(odd) {
//   // background-color: #d1cdcd;
// }

// .schedule-table tr:hover {
//   background-color: #f1f1f1;
// }


.service-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  // color: ;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #EE5B25;
  @apply text-white dark:bg-orange-900 font-primary leading-relaxed dark:text-darkmode-text
}

.blurred {
  width: fit-content;
  block-size: fit-content;
  // @apply text-base bg-opacity-40 dark:bg-darkmode-bg
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  padding: 20px 30px;
  @apply bg-white bg-opacity-70 dark:bg-dark dark:bg-opacity-70

}

.donate-button {
  background-color: #EE5B25;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c93f15;
    color: #fff;
  }
  @apply text-white dark:bg-orange-900 font-primary leading-relaxed dark:text-darkmode-text

}

.text-nowrap {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}