{{ define "main" }}
<div class="container-steps">
  <h1 class="title">{{ .Title }}</h1>
  <div class="container-strip">
    {{ range .Params.Steps }}
      <div class="steps-tutorial">
        <div class="step">
          <div class="step-content">
            <img src="{{ .image | absURL }}" alt="Step {{ .number }}" class="step-image">
            <p class="step-text">Step {{ .number }}: {{ .content }}</p>
          </div>
        </div>
        {{ if not .last }}
          <div class="arrow">
            <!-- Add arrow icon or image here if needed -->
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}