{{ define "main" }}
{{ with .Params.dates }}
<!-- Service Date Banner -->
<div class="service-banner">
  <p id="next-service-date">Loading next service date...</p>
</div>

<!-- Include the JavaScript -->
<script>
  const services = [
    {{ range .services }}
    { day: "{{ .day }}", time: "{{ .time }}" },
    {{ end }}
  ];

  function getNextServiceDate(services) {
    const now = new Date();
    const daysMap = {
      "Monday": 1,
      "Tuesday": 2,
      "Wednesday": 3,
      "Thursday": 4,
      "Friday": 5,
      "Saturday": 6,
      "Sunday": 0,
    };

    let nextService = null;

    for (const service of services) {
      const targetDay = daysMap[service.day];
      const currentDay = now.getDay();
      const daysUntilNext = (targetDay - currentDay + 7) % 7;
      
      const nextDate = new Date(now);
      nextDate.setDate(now.getDate() + daysUntilNext);
      const [hours, minutes] = service.time.split(":").map(Number);
      nextDate.setHours(hours, minutes, 0, 0);
      
      if (!nextService || nextDate < nextService) {
        nextService = nextDate;
      }
    }

    return nextService;
  }

  function displayNextServiceDate() {
    const nextServiceDate = getNextServiceDate(services);
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
    document.getElementById("next-service-date").textContent = `{{ .text }}: ${nextServiceDate.toLocaleDateString("{{ .date_format }}", options)}`;
  }

  displayNextServiceDate();
</script>
{{ end }}

<!-- Features -->
{{ range $i, $e := .Params.features }}
{{ if .backgroundImage }}
<section class="section bg-cover bg-center bg-no-repeat bg-fixed video-background" style="height: 100vh; min-height: 500px; display: flex; align-items: flex-start; justify-content: center; position: relative;">
  <video autoplay muted loop playsinline class="video-bg" style="width: 100%; height: 100%; object-fit: cover;">
    <source src="/videos/test2.m4v" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content-wrapper" style="width: 100%; display: flex; justify-content: center; align-items: flex-start; margin-top: 10vh;">
  {{ else }}
  <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
{{ end }}

  <div class="container justify-center" style="position: relative; z-index: 1; backdrop-filter: blur(10px); padding: 20px; border-radius: 10px; background: rgba(255, 255, 255, 0.5);">
    <div class="row items-center justify-between">
      <div class="row items-center justify-center">
        <div class="lg:col-12 md:col-12 mb-8 justify-center text-center">
          <h1 class="mb-4 text-h3 lg:text-h1">
            {{ .title | markdownify }}
          </h1>
          <h3 class="mb-8">
            {{ .subtitle | markdownify }}
          </h3>
          <div class="mb-8 text-center text-2xl" style="width: 75%; margin: 0 auto;">
            {{ .content | markdownify }}
          </div>
          <ul>
            {{ range .bulletpoints }}
              <li class="relative mb-4 pl-6">
                {{ . | markdownify }}
              </li>
            {{ end }}
          </ul>
          {{ with .button }}
            {{ if .enable }}
              <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
          {{ with .table }}
            {{ if .title }}
              <h3 class="mt-8 mb-4">
                {{ .title | markdownify }}
              </h3>
            {{ end }}
            {{ if .content }}
              <p class="mt-8 mb-4 text-left">
                {{ .content | markdownify }}
              </p>
            {{ end }}
            <table class="table schedule-table" style="width: 75%; margin: 0 auto; margin-top: 2rem;">
              <col><col>
              {{ with .header }}
                {{ if .enable }}
                  <thead>
                    <tr>
                      {{ range .values }}
                        <th>{{ . }}</th>
                      {{ end }}
                    </tr>
                  </thead>
                {{ end }}
              {{ end }}
              <tbody>
                {{ range .rows }}
                  <tr>
                    {{ range .columns }}
                      <td>{{ . }}</td>
                    {{ end }}
                  </tr>
                {{ end }}
              </tbody>
            </table>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  {{ if .backgroundImage }}
    </div>
  {{ end }}
{{ end }}

{{ with .Params.socials }}
<!-- Socials Panel -->
<section class="section-sm bg-slate-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4 text-center">{{ .title }}</h2>
        <div class="social-icons text-center" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
          <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/eschaskovo?igsh=MWxzb3d5ZHQ5ZWg3eg==" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; width: 300px; height: 420px;">
          </blockquote>
          <div class="fb-page" data-href="https://www.facebook.com/p/%D0%95%D0%B2%D0%B0%D0%BD%D0%B3%D0%B5%D0%BB%D1%81%D0%BA%D0%B0-%D1%81%D1%8A%D0%B1%D0%BE%D1%80%D0%BD%D0%B0-%D1%86%D1%8A%D1%80%D0%BA%D0%B2%D0%B0-%D0%A5%D0%B0%D1%81%D0%BA%D0%BE%D0%B2%D0%BE-100089587770848/?_rdr" data-tabs="timeline" data-width="300px" data-height="420px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/p/%D0%95%D0%B2%D0%B0%D0%BD%D0%B3%D0%B5%D0%BB%D1%81%D0%BA%D0%B0-%D1%81%D1%8A%D0%B1%D0%BE%D1%80%D0%BD%D0%B0-%D1%86%D1%8A%D1%80%D0%BA%D0%B2%D0%B0-%D0%A5%D0%B0%D1%81%D0%BA%D0%BE%D0%B2%D0%BE-100089587770848/?_rdr" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/p/%D0%95%D0%B2%D0%B0%D0%BD%D0%B3%D0%B5%D0%BB%D1%81%D0%BA%D0%B0-%D1%81%D1%8A%D0%B1%D0%BE%D1%80%D0%BD%D0%B0-%D1%86%D1%8A%D1%80%D0%BA%D0%B2%D0%B0-%D0%A5%D0%B0%D1%81%D0%BA%D0%BE%D0%B2%D0%BE-100089587770848/?_rdr">Евангелска съборна църква - Хасково</a></blockquote></div>
          <lite-youtube videoid="X3LnCQ9fsPE" style="width: 300px; height:400px"></lite-youtube>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Socials Panel -->
{{ end }}

{{ with .Params.map }}
<!-- Maps Panel -->
<section class="section-sm bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4 text-center">{{ .title }}</h2>
        <div class="map-container" style="position: relative; overflow: hidden; padding-top: 56.25%;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23743.164459614072!2d25.5132847!3d41.9380956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ad50c13e2d8421%3A0x684a2c8e9fc28fe5!2z0JXQstCw0L3Qs9C10LvRgdC60LAg0KHRitCx0L7RgNC90LAg0KbRitGA0LrQstCwIC0g0KXQsNGB0LrQvtCy0L4!5e0!3m2!1sen!2sbg!4v1734999285883!5m2!1sen!2sbg&zoom=9"
            width="600"
            height="450"
            style="border:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            allowfullscreen=""
            loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Maps Panel -->
{{ end }}

<style>
  @media (max-width: 768px) {
    .feature-section {
      background-image: linear-gradient(to bottom, #87CEEB, #f0f8ff) !important;
      background-size: cover !important;
    }
  }
</style>
<script async src="//www.instagram.com/embed.js"></script>
{{ end }}
